{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
</header>

<div class="archive-year">
    {{- range .Site.RegularPages.GroupByPublishDate "2006" }}
    {{- if ne .Key "0001" }}
    <h2>{{ .Key }}</h2>
    {{- range .Pages }}
    <article class="archive-entry">
        <h3 class="archive-entry-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <div class="archive-meta">
            {{- .Date.Format "January 2, 2006" -}}
        </div>
    </article>
    {{- end }}
    {{- end }}
    {{- end }}
</div>

{{- end }}